@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.Bcontent {
  width: 100%;
  background-image: url(../image/top_bg2.jpg);
  padding-bottom: 1px;
}
.Bcontent .header {
  width: 100%;
  height: 300px;
  /*		background-image:url(../image/top_bg.jpg); 
  		background-size:contain; */
}
.Bcontent .content {
  width: 1200px;
  margin: 0 auto;
}
.Bcontent .content .left {
  float: left;
  width: 300px;
}
.Bcontent .content .left .gongneng {
  margin-bottom: 10px;
  height: 300px;
  background: white;
}
.Bcontent .content .left .wenzhang {
  padding-top: 1px;
  height: 670px;
  background: white;
}
.Bcontent .content .right {
  margin-left: 300px;
  width: 900px;
}
.Bcontent .content .right .content {
  background-color: white;
  background-image: url(../image/bg.jpg);
  width: 880px;
  margin: 10px;
  height: 1000px;
}

.gongneng_box {
  cursor: pointer;
  float: left;
  overflow: hidden;
  height: 150px;
  width: 150px;
}
.gongneng_box i {
  display: block;
  margin: 30px;
  height: 90px;
  width: 90px;
  background-size: contain;
}

.i1 {
  background: url(../image/bowen.png) no-repeat;
}
.i2 {
  background: url(../image/xinqing.png) 7px 0 no-repeat;
}
.i3 {
  background: url(../image/shangweikaifang.png) 8px 0 no-repeat;
}
.i4 {
  background: url(../image/shangweikaifang.png) 8px 0 no-repeat;
}
.i5 {
  font-size: 90px;
  left: 150px;
  top: -30px;
  position: absolute;
  z-index: 100;
}
.i6 {
  font-size: 90px;
  top: 120px;
  position: absolute;
  z-index: 100;
}

.color1 {
  background-color: #FF9900;
}
.color2 {
  background-color: #FFFF00;
}
.color3 {
  background-color: #FF0033;
}
.color4 {
  background-color: #FF6666;
}

.box1 {
  position: relative;
  left: -150px;
  height: 150px;
  width: 300px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari 和 Chrome */
  -o-transition: all 0.3s;
  /* Opera */
}
.box1:hover {
  left: 0;
}
.box2 {
  position: relative;
  top: -150px;
  height: 300px;
  width: 150px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari 和 Chrome */
  -o-transition: all 0.3s;
  /* Opera */
}
.box2:hover {
  top: 0;
}
.box3 {
  position: relative;
  left: -150px;
  height: 150px;
  width: 300px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari 和 Chrome */
  -o-transition: all 0.3s;
  /* Opera */
}
.box3:hover {
  left: 0;
}
.box4 {
  position: relative;
  top: -150px;
  height: 300px;
  width: 150px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari 和 Chrome */
  -o-transition: all 0.3s;
  /* Opera */
}
.box4:hover {
  top: 0;
}

.wenzhang_box {
  overflow: hidden;
  position: relative;
  margin: 10px;
  height: 100px;
  width: 280px;
  background: #edf1f2;
  box-shadow: 0 0 5px #CCCCCC;
  font-family: "微软雅黑";
  cursor: pointer;
}
.wenzhang_box:hover {
  background: #66CCCC;
  color: white;
}
.wenzhang_box:hover .wenzhang_content {
  border-left: 1px dotted white;
}
.wenzhang_box:hover .wenzhang_time {
  border-bottom: 1px dotted white;
}
.wenzhang_box_in {
  position: relative;
  left: -240px;
  display: box;
  display: -o-box;
  display: -webkit-box;
  display: -moz-box;
  height: 100%;
  width: 520px;
}
.wenzhang_time {
  text-indent: 5px;
  position: relative;
  width: 100%;
  height: 30px;
  border-bottom: 1px dotted black;
}
.wenzhang_time span {
  font-size: 20px;
  font-family: "Trebuchet MS";
}
.wenzhang_type {
  -o-box-flex: 4;
  -moz-box-flex: 4;
  -webkit-box-flex: 4;
  box-flex: .wenzhang_type a;
  background: #66CCCC;
  color: red;
}
.wenzhang_content {
  width: 220px;
  overflow: hidden;
}
.wenzhang_title {
  width: 230px;
  position: relative;
  top: 25px;
  left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content_top {
  width: 100%;
  height: 60px;
}
.content_bottom {
  width: 800px;
  height: 200px;
  margin: 0 auto;
}
.content_bottom .title {
  font-size: 40px;
  font-family: "微软雅黑";
  text-align: center;
}
.content_bottom .title_bottom {
  display: block;
  width: 100%;
  font-family: "Trebuchet MS";
  text-align: center;
  color: #996633;
}
.content_bottom .title_bottom .type {
  font-family: "微软雅黑";
  color: #996633;
  font-style: normal;
}
.content_bottom .title_bottom .type:hover {
  color: #333300;
}
.content_bottom .title_bottom .giveMeAFuckingName {
  position: relative;
  top: 2px;
  color: #999999;
  font-size: 24px;
}

.zhengwen {
  text-indent: 44px;
  letter-spacing: 3px;
  margin-top: 10px;
  font-family: "微软雅黑";
  font-size: 19px;
  line-height: 25px;
}

/*index*/
.p_top {
  font-size: 40px;
  font-family: "微软雅黑";
  text-align: center;
  line-height: 60px;
}

.p_title {
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  font-family: "微软雅黑";
  font-size: 20px;
  line-height: 40px;
  border-bottom: 1px dotted #993333;
}
.p_title .p_text {
  display: inline-block;
  width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.p_title .p_type {
  position: relative;
  top: -14px;
  margin-right: 5px;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  color: red;
  border: 1px inset #CC3333;
}
.p_title .p_time {
  position: relative;
  top: 3px;
  float: right;
  font-family: "Trebuchet MS";
  font-size: 18px;
  color: #990033;
}

.a_box {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
}

/*# sourceMappingURL=style.css.map */
