doctype html
html
	head
		title 登陆
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="css/admin.css")
	body
		.wrap
			.login
				p.login_p 登陆
				.login_content
					form(method="post" action="/login")
						.text
							i 用户名：
							input(type="text" name="username")
						.password
							i &nbsp;&nbsp;&nbsp;&nbsp;密码：
							input(type="password" name="password")
						.submit
							input(type="submit")
