doctype html
html
	head
		title blog
		meta(charset="UTF-8")
		link(rel="stylesheet" type="text/css" href="css/style.css")
		link(rel="stylesheet" type="text/css" href="css/font.css")
		script(type="text/javascript" src="js/jquery-1.11.3.js")
		script(type="text/javascript" src="js/animate.js")
	body
		div.Bcontent
			div.header
			div.content
				div.left
					div.gongneng
						.gongneng_box.color1
							.box1
								i.i1
								i.i5.icon-bowen
						.gongneng_box.color2
							.box2
								i.i2
								i.i6.icon-xinqing
						.gongneng_box.color3
							.box3
								i.i3
								i.i5.icon-shangweikaifang
						.gongneng_box.color4
							.box4
								i.i4
								i.i6.icon-shangweikaifang
					div.wenzhang
						.wenzhang_box
							.wenzhang_box_in
								.wenzhang_type
								.wenzhang_content
									.wenzhang_time 
										span 2015/8/12
									.wenzhang_title 文章标题文章标题
						.wenzhang_box
							.wenzhang_box_in
								.wenzhang_type
								.wenzhang_content
									.wenzhang_time 
										span 2015/8/12
									.wenzhang_title 文章标题文章标题
						.wenzhang_box
							.wenzhang_box_in
								.wenzhang_type
								.wenzhang_content
									.wenzhang_time 
										span 2015/8/12
									.wenzhang_title 文章标题文章标题
						.wenzhang_box
							.wenzhang_box_in
								.wenzhang_type
								.wenzhang_content
									.wenzhang_time 
										span 2015/8/12
									.wenzhang_title 文章标题文章标题文章标题文章标题文章标题文章标题
						.wenzhang_box
							.wenzhang_box_in
								.wenzhang_type
								.wenzhang_content
									.wenzhang_time 
										span 2015/8/12
									.wenzhang_title 文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题
						.wenzhang_box
							.wenzhang_box_in
								.wenzhang_type
								.wenzhang_content
									.wenzhang_time 
										span 2015/8/12
									.wenzhang_title 文章标题文章标题
				div.right
					div.content
